---
title: Colophon | Kevin Garcia
page-id: colophon
current-nav-item: Colophon

_options:
  layout: app/layouts/layout.static.hbs
---
<section>
  <h1>Colophon</h1>
  <p style="font-size: 2em; margin-top: 2em">&sect;</p>
  <p>This site was built<br /> over a sleep-deprived weekend<br> using <a href="http://brunch.io">Brunch</a> and <span class="keep-together"><a href="http://decantr.io">Decanter</a>.</span></p>
  <p>Decanter is built on top of <a href="http://bourbon.io%5D">Bourbon</a>,<br /> <a href="http://neat.bourbon.io/">Neat</a> and <a href="http://bitters.bourbon.io/">Bitters</a>. The Bitters scaffold was<br /> imported via ruby and customized to fit<br /> the <a href="http://sass-guidelin.es/#architecture">7-1 architecture pattern</a>.</p>
  <p><a href="https://github.com/bmatcuk/html-brunch-static">html-brunch-static</a><br /> enables <a href="http://handlebarsjs.com/">handlebars</a><br /> precompiled templates.</p>
  <p><a href="https://github.com/postcss/postcss">postcss</a> <a href="https://github.com/postcss/autoprefixer">autoprefixer</a> uses the<br /> <a href="http://caniuse.com/">can-i-use</a> database to add vendor prefixes<br /> to current CSS properties for backward compatibility.</p>
  <p>This site uses Semantic HTML5, CSS Grid, Flexbox,<br /> and strives to be accessible and<br /> degrade gracefully on <br />older browsers.</p>
  <p>The<br /> responsive<br /> Typography<br /> system is built on<br /> top of Decanter, and uses<br /> Google's beautiful<br /> <a href="https://www.google.com/get/noto/">Noto fonts</a></p>
  <p style="font-size: 1.75em;">&para;</p>
</section>