---
title: About | Kevin Garcia
page-id: about
current-nav-item: About

_options:
  layout: app/layouts/layout.static.hbs
---
<h1>Welcome</h1>
<p>I'm a user experience designer and front-end developer at <a href="https://www.stanford.edu">Stanford University</a>, where I've focused on <a href="https://ux.stanford.edu/">UX</a>, design systems, and <a href="https://github.com/SU-SWS/decanter">front-end frameworks</a>.</p>
<p>My latest work includes building:</p>
<ul>
  <li>an open-source <a href="http://www.decantr.io">scss framework</a></li>
  <li>the Front-End for our recently redesigned <a href="https://www.stanford.edu">Stanford.edu</a></li>
  <li>a boilerplate site generator using <a href="http://www.brunch.io">Brunch</a> and <a href="http://decantr.io">Decanter</a></li>
  <li>our redesigned <a href="http://identity.stanford.edu/beta/">Identity Tooklit</a></li>
  <li><a href="http://news.stanford.edu/features/2016/alaska/">a</a> <a href="http://news.stanford.edu/features/2016/slac/">number</a> <a href="http://news.stanford.edu/2016/06/07/stroll-bowes-art-architecture-library/">of</a> <a href="http://news.stanford.edu/2016/08/24/election-2016/">digital</a> <a href="http://news.stanford.edu/2016/12/20/meet-stanford-faculty/">storytelling</a> <a href="http://news.stanford.edu/2016/06/20/entrepreneurship-at-stanford/">packages</a> for <a href="http://news.stanford.edu">Stanford News</a>.</li>
</ul>
<p>Previously, I've worked as a User Experience Designer at the <a href="http:www.montereybayaquarium.org">Monterey Bay Aquarium</a> and done Art Direction, Branding and Marketing at <a href="http://www.csumb.edu">Cal State Monterey Bay</a></p>