---
title: Portfolio | Kevin Garcia
page-id: portfolio
current-nav-item: Portfolio

_options:
  layout: app/layouts/layout.static.hbs

"project":
  [
    {
      'title': 'Stanford.edu',
      'url': 'portfolio/stanford.html',
      'image': 'stanford-landing.jpg',
      'overflow': 'vertical',
    },
    {
      'title': 'SeafoodWatch',
      'url': 'portfolio/seafoodwatch.html',
      'image': 'seafood-watch-landing.jpg',
      'overflow': 'horizontal',
    },
  ]
---
<h1>Portfolio</h1>
<section>
{{#each project}}
  <div class="project">
    <figure>
      <a href="{{url}}" class="{{overflow}}">
        <img src="/img/{{image}}" />
        <figcaption>{{title}}</figcaption>
      </a>
    </figure>
  </div>
{{/each}}

</section>