@charset 'UTF-8';

#portfolio-details {
  main, #main {
    h2 {
      font-size: modular-scale(3);
      font-family: $serif-font-family;
      font-weight: bold;
      font-style: italic;
    }
    h3 {
      font-size: modular-scale(2);
      font-family: $serif-font-family;
      font-weight: normal;
    }
    h2 + h3 {
      margin-top: modular-scale(1);
    }
    width: 100%;
    @media print {
      padding-bottom: .125in;
      grid-column-start: content-start;
      grid-column-end: content-end;
    }

    > section {
      @include responsive-container($content-container);
    }
  }

  .videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 52.75%;
    padding-top: 25px;
    height: 0;
    box-shadow: material-shadow(flat);
  }
  .curtainreveal .videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 62.5%;
    padding-top: 25px;
    height: 0;
  }
  .microinteractions .videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 52.75%;
    padding-top: 25px;
    height: 0;
  }

  .microinteractions .two-up .videowrapper {
    padding-bottom: 46.75%;
  }
  .videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  figure.full-width--thin {
    picture {
      @include grid-media($media-xs-only) {
        @include ar-container(2, 1, vertical);
      }
      @include grid-media($media-sm-only) {
        @include ar-container(10, 4, vertical);
      }
      @include grid-media($media-md) {
        @include ar-container(10, 3, vertical);
      }
    }
    figcaption {
      @include responsive-container($content-container);
    }
    @include grid-media($media-md-max, $media-lg-only, $media-xl) {
      $_gutter: _retrieve-neat-setting($neat-grid, gutter);
      margin-top: $_gutter;
      margin-bottom: $_gutter;
    }
  }

  .featured {
    @include adjust-responsive-container($featured-content);

    @include grid-media($media-md-max, $media-lg-only, $media-xl, $media-print) {
      $_gutter: _retrieve-neat-setting($neat-grid, gutter);
      padding-top: $_gutter;
      padding-bottom: $_gutter;
    }
  }

  .inset {
    @include adjust-responsive-container($inset-content);

    @include grid-media($media-md-max, $media-lg-only, $media-xl, $media-print) {
      $_gutter: _retrieve-neat-setting($neat-grid, gutter);
      padding-top: $_gutter;
      padding-bottom: $_gutter;
    }
  }

  .featured--collapsed {
    @include adjust-responsive-container($featured-content--collapsed);
  }

  figure.responsive {
    figcaption {
      @include responsive-container($content-container);
    }
  }

  .items--2 {
    @include grid-media($media-xs-only) {
      $_gutter: _retrieve-neat-setting($neat-grid, gutter) * 2;
      padding-top: $_gutter / 2;
      > * {
        margin-left: $_gutter;
        margin-right: $_gutter;
        margin-bottom: $_gutter / 2;
      }
    }
    @include grid-media($media-sm-only, $media-md-only, $media-lg-only, $media-xl, $media-print) {
      padding-top: _retrieve-neat-setting($neat-grid, gutter);
      @include flex-items-per-row(2, $grid-collapse: false);
    }
  }
}
