@charset 'UTF-8';

#portfolio-stanford {
  main, #main {
    @supports (display: grid) {
      max-width: none;
      grid-column-start: full-start;
      grid-column-end: full-end;
      align-items: start;
      align-content: start;
      display: grid;
      grid-template-columns: unquote("[full-start] minmax(1.5em, auto) [content-start] 1fr [content-end] minmax(1.5em, auto) [full-end]");

      @include grid-media($media-md-max, $media-lg-only, $media-xl, $media-print) {
        $_gutter: _retrieve-neat-setting($neat-grid, gutter);
        grid-row-gap: $_gutter;
      }

      @media print {
        padding-bottom: .125in;
        grid-column-start: content-start;
        grid-column-end: content-end;
      }
    }

    > section {
      grid-column-start: content-start;
      grid-column-end: content-end;
      max-width: 45em;
      justify-self: center;
      width: 100%;
      height: auto;

      @include grid-media($media-sm, $media-lg-only, $media-xl) {
        $_gutter: _retrieve-neat-setting($neat-grid, gutter);
        padding-left: $_gutter * 2;
        padding-right: $_gutter * 2;
      }
    }
  }

  .videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 52.75%;
    padding-top: 25px;
    height: 0;
    box-shadow: material-shadow(flat);
  }
  .curtainreveal .videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 62.5%;
    padding-top: 25px;
    height: 0;
  }
  .microinteractions .videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 52.75%;
    padding-top: 25px;
    height: 0;
  }

  .microinteractions .two-up .videowrapper {
    padding-bottom: 46.75%;
  }
  .videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .content {

  }
  figure.landing {
    @supports (display: grid) {
      grid: inherit;
      display: inherit;
      grid-row-gap: .5em;
    }
    picture {
      @supports (display: grid) {
        grid-column-start: full-start;
        grid-column-end: full-end;
      }
      @include grid-media($media-xs-only) {
        @include ar-container(2, 1, vertical);
      }
      @include grid-media($media-sm-only) {
        @include ar-container(10, 4, vertical);
      }
      @include grid-media($media-md) {
        @include ar-container(10, 3, vertical);
      }
    }
    figcaption {
      @supports (display: grid) {
        grid-column-start: content-start;
        grid-column-end: content-end;
        justify-self: center;
        max-width: em(45em, modular-scale(-1));
        width: 100%;
        font-size: modular-scale(-1);
        font-style: italic;

        @include grid-media($media-sm, $media-lg-only, $media-xl) {
          $_gutter: _retrieve-neat-setting($neat-grid, gutter);
          padding-left: $_gutter * 2;
          padding-right: $_gutter * 2;
        }
      }
    }
    @include grid-media($media-md-max, $media-lg-only, $media-xl) {
      $_gutter: _retrieve-neat-setting($neat-grid, gutter);
      margin-top: $_gutter;
      margin-bottom: $_gutter;
    }
    @supports (display:grid) {
      margin-top: 0;
      margin-bottom: 0;
      grid-column-start: full-start;
      grid-column-end: full-end;
    }
  }

  figure.responsive {
    @supports (display: grid) {
      grid: inherit;
      display: inherit;
      grid-row-gap: .5em;
    }
    picture {
      @supports (display: grid) {
        grid-column-start: full-start;
        grid-column-end: full-end;
        @include grid-media($media-md-max, $media-lg-only, $media-xl) {
          $_gutter: _retrieve-neat-setting($neat-grid, gutter);
          padding-left: $_gutter;
          padding-right: $_gutter;
        }
      }
    }
    figcaption {
      @supports (display: grid) {
        grid-column-start: content-start;
        grid-column-end: content-end;
        justify-self: center;
        max-width: em(45em, modular-scale(-1));
        width: 100%;
        font-size: modular-scale(-1);
        font-style: italic;

        @include grid-media($media-sm, $media-lg-only, $media-xl) {
          $_gutter: _retrieve-neat-setting($neat-grid, gutter);
          padding-left: $_gutter * 2;
          padding-right: $_gutter * 2;
        }
      }
    }
    @include grid-media($media-md-max, $media-lg-only, $media-xl) {
      $_gutter: _retrieve-neat-setting($neat-grid, gutter);
      margin-top: $_gutter;
      margin-bottom: $_gutter;
    }
    @supports (display:grid) {
      margin-top: 0;
      margin-bottom: 0;
      grid-column-start: full-start;
      grid-column-end: full-end;
    }
  }

  .two-up {
    @include grid-media($media-md) {
      @include flex-items-per-row(2);
    }
  }
}
