@charset 'UTF-8';

////
/// Typography
////

// Individual Font family definitions
// ----------------------------------


// Google Fonts
// -------------------------------------------------------
// Font weights and variants:
// Extra-Light: 200; Light: 300; Regular: 400; Semi-Bold: 600; Bold: 700; Extra Bold: 800; Black: 900
// Italic variants: 200i, 300i, etc.
//
// Full font families:
// https://fonts.googleapis.com/css?family=Source+Code+Pro
// https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700
// https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i
// https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i
// https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i
// -------------------------------------------------------

// Generic Definitions
$monospace-font-family: unquote(map-get($base-font-families, monospace));
$serif-font-family: unquote(map-get($base-font-families, serif));
$sans-serif-font-family: unquote(map-get($base-font-families, sans-serif));

// Semantic definitions
// These map the generic `$font-family-serif` stacks to more functional, semantic
// font stacks. `$base-font-family`, `$heading-font-family`, `$code-font-family`
// --------------------

/// Base Font Family Setting.
$base-font-family: $serif-font-family;

/// Heading Font Family.
$heading-font-family: $sans-serif-font-family;

/// Code Font Family.
$code-font-family: $monospace-font-family;

// Line heights
$base-line-height:            1.6666667;
$heading-line-height:         modular-scale(1);
