// ---------------------------------------------------------------------------------------------------------------------
// z-index
// ---------------------------------------------------------------------------------------------------------------------
body > header                                     {   z-index: 100;   }
body > main                                       {   z-index: 1;     }
body > footer                                     {   z-index: 100;   }
#skiplinks                                        {   z-index: 200;   }


// ---------------------------------------------------------------------------------------------------------------------
// Flexbox visual order
// --------------------------------------------------------------------------------------------------------------------
#skiplinks                                        {   order: -51;     }
body > header                                     {   order: -50;     }
body > #main, body > main                         {   order: 1;       }
body > footer                                     {   order: 50;      }

// ---------------------------------------------------------------------------------------------------------------------
// Grid Setup
// ---------------------------------------------------------------------------------------------------------------------

body {
  display: flex;
  min-height: 100vh;

  @media print {
    margin: 0 .25in 1in;
  }
}

body > header {
  @media print {
    padding-bottom: .125in;
  }

  padding-top: 1em;
  :last-child {
    margin-bottom: 0;
  }
}

body > main {
  width: 100%;
  @include grid-media($media-md-max, $media-lg-only, $media-xl, $media-print) {
    $_gutter: _retrieve-neat-setting($neat-grid, gutter);
    padding-top: $_gutter * 2;
    padding-bottom: $_gutter * 2;
  }

  @media print {
    max-width: none;
  }
}

body > footer {
  @media print {
    display: none;
  }
}

#breakpoint-helper {
  @media print {
    display: none;
    box-shadow: none;
    &::after {
      display: none;
    }
  }
}